name: Build and publish

on:
  push: 
    tags: 'v*'

jobs:
  check:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Rust cache
        uses: Swatinem/rust-cache@v2

      - name: Install Rust toolchain
        run: |
          rustup set profile minimal
          rustup show

      - name: Install Protoc
        uses: arduino/setup-protoc@v1
        with:
          version: 3.20.1
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build node
        run: |
          cargo build --release --package node-subspace-runtim

          export SHA256SUM=$(sha256sum target/release/wbuild/node-subspace-runtime/node_subspace_runtime.compact.compressed.wasm | cut -d ' ' -f1)
          echo Hash of compact and compressed WASM: $SHA256SUM

          mkdir out
          mv target/release/wbuild/node-subspace-runtime/node_subspace_runtime.compact.compressed.wasm out/
          touch out/$SHA256SUM

      - uses: actions/upload-artifact@v4
        with:
          name: 
          path: out/
          if-no-files-found: error
          overwrite: true
